@import '../variables.scss';
.balance-container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 3em;
    .balance-title{
        display: flex;
        color: $defaultColor;
        font-weight: bold;
        font-size: 2em;
        border: .2em solid $defaultColor;
        padding: 1.5em;
        width: 70%;
    }
    .balance-content{
        margin-top: 2em;
        display: flex;
        border: .2em solid $defaultColor;
        padding: 1.5em;
        width: 70%;
    }

    .title {
        display: flex;
        width: 100%;
        max-height: 4.5em;
        color: $defaultColor;
        font-weight: bold;
        font-size: 2em;
        padding: {
            top: 1.5em;
            bottom: 1.5em;
        }

    }
}
.center {
    display: flex;
    justify-content: center;
    .title {
        display: flex;
        width: 100%;
        max-height: 4.5em;
        margin: {
            bottom: 20px;
        }
        color: $defaultColor;
        font-weight: bold;
        font-size: 2em;
        padding: {
            top: 1.5em;
            bottom: 1.5em;
        }

    }
}

.header-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2em;
}

.center-horz {
    top: 50%;
    bottom: 50%;
}

.card-generic {
    width: 100%;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
    //box-shadow: 15px 20px 20px 6px rgba(255,146,0, 0.2),
    //            30px 16px 20px 1px rgba(255,146,0, 0.14),
    //            30px 6px 28px 2px rgba(255,146,0, 0.12);

    .title {
        display: flex;
        width: 100%;
        max-height: 4.5em;
        margin: {
            bottom: 20px;
        }
        color: $defaultColor;
        font-weight: bold;
        font-size: 2em;
        padding: {
            top: 1.5em;
            bottom: 1.5em;
        }

    }

    .total {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-weight: bold;
        padding: 15px;
    }

    .card-internal {
        width: 90%;
        display: flex;
        align-content: space-evenly;
        .generic-btn {
            height: 5em;
            min-width: 10em;
            background-color: $defaultColor;
            color: white;

            .bloom {
                display: flex;
                margin-right: 1em;
                background-image: url('../../images/lupa.svg');
                background-repeat: no-repeat;
                background-size: cover;
                width: 1.6em;
                height: 1.6em;
                background-position: center;

            }
        }
    }

    .generic-btn {
        height: 3em;
        background-color: $defaultColor;
        color: white;
        min-width: 10em;

        .bloom {
            display: flex;
            margin-right: 1em;
            background-image: url('../../images/lupa.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 1.6em;
            height: 1.6em;
            background-position: center;

        }
    }

    form{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        .search-options{
            width: 18em !important;
            margin-right: 4em;
        }
        .search-input{
            width: 40em !important;
            margin-right: 2em;
        }
        .search-btn{
            height: 3em;
            min-width: 10em;
            background-color: $defaultColor;
            color: white;
            .bloom{
                display: flex;
                margin-right: 1em;
                background-image: url('../../images/lupa.svg');
                background-repeat: no-repeat;
                background-size: cover;
                width: 1.6em;
                height: 1.6em;
                background-position: center;

            }
        }
    }
}

.padding {
    display: flex;
    justify-content: center;
    padding: { bottom: 20px; }
}
