@import '../variables';

.search-container{
    display: flex;
    flex-wrap: wrap;
    width: 82.4%;
    height: auto;
    padding: 2em;
    background-color: #fafafa;
    .search-header{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 2em;
        .search-field{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .search-title{
                display: flex;
                width: 100%;
                max-height: 4.5em;
                color: $defaultColor;
                font-weight: bold;
                font-size: 2em;
                padding: {
                    top: 1.5em;
                    bottom: 1.5em;
                }
            }
            .search-title-area{
                display: flex;
                justify-content: center;
                width: 100%;
                background-color: white;
                padding: 1.3em;
                border: 1px solid rgba(97, 95, 95, 0.527);
                form{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    .search-options{
                        width: 18em !important;
                        margin-right: 4em;
                    } 
                    .search-input{
                        width: 40em !important;
                        margin-right: 2em;
                    }
                    .search-btn{
                        height: 3em;
                        background-color: $defaultColor;
                        color: white;
                    }
                }

            }
        }
    }
    .search-content{
        display: flex;
        width: 100%;
        padding: 3em;
        background-color: white;
        border: 1px solid rgba(97, 95, 95, 0.527);
    }
}