@import '../variables';

.center {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    box-shadow: 5px 10px 10px -3px rgba(255,146,0, 0.2),
                0 16px 20px 1px rgba(255,146,0, 0.14),
                0 6px 28px 2px rgba(255,146,0, 0.12);
    form{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        .search-options{
            width: 18em !important;
            margin-right: 4em;
        }
        .search-input{
            width: 40em !important;
            margin-right: 2em;
        }
        .search-btn{
            height: 3em;
            background-color: $defaultColor;
            color: white;
        }
    }
}

@keyframes dir-esq {
    0% { transform: translateX(100%)}
    10% { transform: translateX(90%)}
    20% { transform: translateX(80%)}
    30% { transform: translateX(70%)}
    40% { transform: translateX(60%)}
    50% { transform: translateX(50%)}
    60% { transform: translateX(40%)}
    70% { transform: translateX(30%)}
    80% { transform: translateX(20%)}
    90% { transform: translateX(10%)}
    100% { transform: translateX(0%)}
}

.animacaoSlide {
    animation: dir-esq 0.4s ease;
}
.search-page{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    .search-container{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        padding: 2em;
        overflow-y: auto !important;
        .search-header{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 2em;
            .search-field{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                .search-title{
                    display: flex;
                    width: 100%;
                    max-height: 4.5em;
                    color: $defaultColor;
                    font-weight: bold;
                    font-size: 2em;
                    padding: {
                        top: 1.5em;
                        bottom: 1.5em;
                    }
                }
                .search-title-area{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    background-color: white;
                    padding: 1.3em;
                    border: 1px solid rgba(97, 95, 95, 0.527);
                    form{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        .search-options{
                            width: 18em !important;
                            margin-right: 4em;
                        } 
                        .search-input{
                            width: 40em !important;
                            margin-right: 2em;
                        }
                        .search-btn{
                            height: 3em;
                            background-color: $defaultColor;
                            color: white;
                        }
                    }
    
                }
            }
        }
        .search-content{
            display: flex;
            width: 100%;
            padding: 3em;
            background-color: white;
            border: 1px solid rgba(97, 95, 95, 0.527);
        }
    }
}